@tailwind base;
@tailwind components;
@tailwind utilities;

.mainCarousel:hover .swiper-button-prev::after,
.mainCarousel:hover .swiper-button-next::after {
  display: block;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}
.leaflet-container {
  z-index: 20;
}
@layer components {
  .s_t_row {
    @apply grid grid-cols-3 items-center gap-3 border-b py-2;
  }
  .s_t_input {
    @apply rounded-md border bg-white p-3 shadow-sm transition-all duration-200 focus:border-blue-600 focus:outline-none focus:ring  focus:ring-blue-600 focus:ring-opacity-70 disabled:bg-gray-300;
  }
  .btn_g {
    @apply rounded-md bg-blue-600 p-2 text-white disabled:bg-blue-400;
  }
  .btn_cf {
    @apply rounded-md p-2 shadow-md;
  }
  .container {
    @apply mx-auto mt-4 max-w-[1200px] md:mt-12;
  }
  .animateFlyIn {
    @apply;
  }
  .loader {
    width: 45px;
    aspect-ratio: 0.75;
    --c: no-repeat linear-gradient(theme(colors.stone.800) 0 0);
    background:
      var(--c) 0% 50%,
      var(--c) 50% 50%,
      var(--c) 100% 50%;
    background-size: 20% 50%;
    animation: loading 1s infinite linear;
  }
  @keyframes loading {
    20% {
      background-position:
        0% 0%,
        50% 50%,
        100% 50%;
    }
    40% {
      background-position:
        0% 100%,
        50% 0%,
        100% 50%;
    }
    60% {
      background-position:
        0% 50%,
        50% 100%,
        100% 0%;
    }
    80% {
      background-position:
        0% 50%,
        50% 50%,
        100% 100%;
    }
  }
}
